<% @user_posts.each do |single_post| %>
    <h1><%=single_post.title%></h1>
    <p><%=single_post.date%></p>
    <img src="<%=single_post.photo_url%>">
    <p><%=single_post.content%></p>
    <a href="/posts/<%=single_post.id%>/edit">EDIT</a>
<%end%>